body {
  text-align: center;
  font-family: Arial;
}

#array-container {
  display: flex;
  align-items: flex-end;
  height: 400px;
  margin: 20px;
}

.bar {
  background: steelblue;
  margin: 1px;
  width: 10px;
}
